@import "tailwindcss";
@keyframes moving-border {
    0% {
      border-color: #2563eb; /* Tailwind's blue-600 */
    }
    50% {
      border-color: #ef4444; /* Tailwind's red-500 */
    }
    100% {
      border-color: #2563eb; /* Back to blue-600 */
    }
  }
  
  .moving-border {
    box-shadow: 10px 0 15px rgba(255, 255, 255);
    animation: moving-border 3s infinite alternate;
  }